#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.red {
  color:red;
}

body {
  background-color: rgba(123, 112, 112, 0.638)
}
.contact {
  font-size: 30px;
  display:flex;
  text-decoration: none;

}
nav {
  color: red;
  font-size: large;
}
.name {
  display: flex;
  justify-content: center;
}